.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 8%;
    height: 8%;
    min-width: 80px;
    min-height: 80px;
}

.maincontainer {
    max-width: 500px;
    margin: 80px auto;
}

.search {
    margin: 1rem auto;

}
