.title {
    position: fixed;
    top: 0;
    left: 0;
    width: 8%;
    height: 8%;
    min-width: 80px;
    min-height: 80px;
}

.maincontainer {
    max-width: 500px;
    margin: 80px auto;
}

.search {
    margin: 2rem auto 1rem;

}

.mychatroom {
    margin: 2rem auto 0.5rem;
}

.nouser {
    text-align: center;
    margin: 200px auto 0;
}

.userField {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.Roombtn {
    margin: 0.5rem auto 2rem;
}

.copydiv {
    padding: 0 0 1rem;
}

.url {
    float: left;
    width: 70%;
    overflow: auto;
}

.copyBtn {
    float: left;
    width: 30%;
}